body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/*Header*/
header {
  background-color: #14627a;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

.logo img {
  height: 60px;
  width: auto;
  padding-left: 30px;
}

.search-icon-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex: 1;
  justify-content: left;
  padding-left: 50px;
}

.search-input {
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 1rem;
  width: 250px;
}

.main-nav {
  display: flex;
  gap: 5rem;
  font-size: 20px;
  padding-right: 30px;
}

.main-nav a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  transition: color 0.2s ease;
}

.main-nav a:hover {
  color: #333333;
}

footer {
  height: 60px;
  background-color: #14627a;
  color: white;
  padding: 1.5rem 2rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
